* {
    margin: 0px;
    padding: 0px;
    /* color: white; */
    font-family: SpotifyMixUI, CircularSp-Arab, CircularSp-Hebr, CircularSp-Cyrl, CircularSp-Grek, CircularSp-Deva, "Helvetica Neue", helvetica, arial, "Hiragino Sans", "Hiragino Kaku Gothic ProN", Meiryo, "MS Gothic";
}

body {
    background-color: white;
    color: white;
}

.left {
    width: 25vw;
    padding: 12px 0px;
}

.logo {
    display: flex;
    align-items: center;
}

.logo div {
    padding: 0px 0px 0px 7px;
    font-size: 18px;
    font-weight: 500;
}


.right {
    width: 75vw;
}

.home {
    padding: 10px;
}

.home ul li {
    display: flex;
    width: 14px;
    list-style: none;
    gap: 10px;
    padding-top: 14px;
}

.heading {
    display: flex;
    gap: 15px;
    width: 100%;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 12px;
}

.heading img {
    width: 22px;
}

.library {
    min-height: 78vh;
    position: relative;
}

.footer {
    display: flex;
    flex-wrap: wrap;
    font-size: 12px;
    gap: 13px;
    position: absolute;
    bottom: 1.5em;
}

.footer a {
    text-decoration: none;
    color: #b3b3b3;
    /* padding-bottom: 10px; */
    margin: 0px 16px 0px 10px;
}

.footer a:hover {
    text-decoration: underline;
}

.right {
    margin: 20px 15px 20px 0px;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: #2C2C2C;
    border-radius: 5px;
}

.header>* {
    padding: 10px;
}

.buttons {
    display: flex;
    align-items: center;
    gap: 10px;
}

.spotifyPlaylists {
    padding: 15px;
    font-size: 12px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    overflow-y: scroll;
    max-height: 73vh;
}

.card {
    width: 150px;
    padding: 10px;
    border-radius: 5px;
    background-color: #2a2a2a;
    position: relative;
    margin: 10px 10px 0px 0px;
    cursor: pointer;
}


.card>* {
    padding-top: 3px;
}

.card img {
    width: 100%;
    object-fit: contain;
    /* margin: 17px 0px 5px 0px; */
    border-radius: 8px;
}

.play img {
    width: 36px;
    border-radius: 50%;
    background-color: #34c768;
    position: absolute;
    top: 120px;
    right: 19px;
    opacity: 0;
    transition: all 1s ease-out;
}

.signupbtn {
    background-color: #2C2C2C;
    border: none;
    color: white;
    font-weight: 600;
    padding: 0px 10px 0px 0px;
    cursor: pointer;
    font-size: 13px;
}

.signupbtn:hover {
    transition-duration: 7ms;
    font-size: 1rem;
    color: #898989;
}

.loginbtn {
    background-color: white;
    /* background-color: #bab6b6; */
    border-radius: 20px;
    color: black;
    padding: 10px;
    cursor: pointer;
    font-weight: 600;
    border: none;
    width: 72px;
}

.loginbtn:hover{
    font-weight: 700;
    font-size: 15px;
    padding: 12px;
    /* background-color: white; */
}

.playbar{
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: #285A48;
    width: 98%;
    padding: 12px;
    border-radius: 10px;
}

.songbuttons {
    display: flex;
    /* flex-flow: row; */
    justify-content: center;
    gap: 10px;
}

.songbuttons img {
    cursor: pointer;
}

/* .songList {
    margin: 10px 0;
} */

.songList ul {
    padding: 0px 34px;
    overflow: hidden;   
}

.songList ul li{
    list-style-type: decimal;
    /* margin: 8px 0px; */
}